# VITE_SUPABASE_URL=https://your-supabase-url.supabase.co
# VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
VITE_API_URL=https://divyam-4.onrender.com

VITE_SHIPROCKET_BASE_URL=https://apiv2.shiprocket.in/v1/external
VITE_SHIPROCKET_EMAIL=your-shiprocket-email@example.com
VITE_SHIPROCKET_PASSWORD=your-shiprocket-password
VITE_SHIPROCKET_STORE_ID=your-shiprocket-store-id
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_google_workspace_email@gmail.com
SMTP_PASS=your_16_character_google_app_password
REVIEW_APPROVAL_EMAIL=farddinkhan18@gmail.com
ADMIN_USER_ID=admin
ADMIN_SECRET=your-super-secret-key
